h3 {
    margin: 0;
    margin-left: 2%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container > div {
    border-radius: 22px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    width: 30vw;
    text-align: left;
    font-size: 30px;
}

#conwrap {
    box-shadow: none;
}

#schedule-container {
    flex-basis: 45vw;
    min-height: 65vh;
    padding: 20px;
}

#team-container {
    border-radius: 22px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    min-height: 60%;
    padding: 20px;
}

#court-container {
    border-radius: 22px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    min-height: 30%;
    padding: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    padding: 10px 0 10px 10px;
    margin-top: 10px;
}

.people-icon {
    width: 10%;
    margin: 0;
}

.time {
    border-radius: 100px;
    padding: 0 7px 0 7px;
}

.nodata {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}