.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 30vw;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#schedule-container {
    flex-basis: 45vw;
    height: 65vh;
}

#team-container {
    background-color: #DC3938;
    height: 60%;
}

#court-container {
    background-color: green;
    margin-top: 10%;
    height: 30%;
}
